---
interface Props {
    title: string;
    sub: string;
    tag: string;
    imgURL: string;
}
const { title, sub, tag, imgURL } = Astro.props;
---

<div>
    <div>
        <img src={imgURL} alt={title} class="img" />
    </div>
    <div class="tablet">
        <p class="focus">{sub}</p>
        <h3>{title}</h3>
        <p>{tag}</p>
    </div>
</div>

<style>
    .img {
        width: 100%;
        height: 250px;
        object-fit: cover;
    }
    .tablet {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: black;
        gap: 5px;
        padding: 50px 
    }
    .focus{
        color: white;
        background-color: rgb(49, 49, 49);
        border: 2px solid rgb(49, 49, 49);
        border-radius: 12px;
        padding: 1px 8px;

        
</style>
